<footer>

    <div class="footertop">

        <div class="uno">        
            <img class="logonh" class="img-logonh" src="/img/LOGO-01.png" alt="logo-nh">    
        </div>
        <div class="dos">

            <ul class="listaizq">
                <li>
                    <a href="#">ENVIOS</a>
                </li>
                <li>
                    <a href="#">NAHIF'S CLUB</a>
                </li>
            </ul>
        </div>
        <div class="tres">
            <ul class="listader">

                <li>
                    <a href="#">CAMBIOS Y DEVOLUCIONES</a>
                </li>
                <li>
                    <a href="#">LOCALES</a>
                </li>
            </ul>
        </div>
        <div class="cuatro">
            <ul class="redes">
                <li class="facebook">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    
                </li>
                <li class="twitter">   
                    <a href="#"></a><i class="fab fa-twitter"></i></a>
                </li>
                <li class="instagram">
                    <a href="#"></a><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>


    </div>


<div class="footerbottom">

    <div class="footermail">
        <a class="mail" href="mailto:atencionalcliente@nahif.com">atencionalcliente@nahif.com</a>   
        <p class="PNF">NAHIF ©COPYRIGHT ®ALL RIGHTS RESERVED</p>
            
    </div>
    <div class="buscadornh">

        <h6 class="suscribitenh">Suscribite a nuestro newsletter para recibir notificaciones</h6>
        <input class="newsletter" type="text" name="nombreCompleto" placeholder="e-mail">
           
    </div>
</div>


</footer>