<header>
    <div class="header-logo">
        <a href="/">
            <div class="fotoLogo"><img src="/img/LOGO-01.png" alt="logo"></div>
        </a>
     </div>
    <div class="header-top">
        <h1 class="nombreMarca">NAHIF</h1>
    </div>
    <div class="header-menu">
        <i class="fas fa-bars"></i>
        <div class="nav-lateral">
            <a href="/categorias">CATEGORIAS</a>
            <a href="#">PROBADOR</a>
            <a href="/carrito">CARRITO <i class="fas fa-shopping-cart"></i></a>
            <a href="#">CONTACTO</a>
            <a href="/register">REGISTRATE <i class="fas fa-id-card"></i></a>
            <a href="/login">INGRESA <i class="fas fa-user"></i></a>
            <form action="/" method="get" class="formSearch">
                <input type="search" name="buscador" placeholder="Buscar">
                <button type='submit' class="botonLupa" href="#"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
    <nav class="header-bottom">
        <a href="/categorias">CATEGORIAS</a>
        <a href="#">PROBADOR</a>
        <a href="/carrito">CARRITO <i class="fas fa-shopping-cart"></i></a>
        <a href="#">CONTACTO</a>
        <a href="/register">REGISTRATE <i class="fas fa-id-card"></i></a>
        <a href="/login">INGRESA <i class="fas fa-user"></i></a>
        <form action="/" method="get" class="formSearch">
            <input type="search" name="buscador" placeholder="Buscar">
            <button type='submit' class="botonLupa" href="#"><i class="fas fa-search"></i></button>
        </form>
    </nav>
</header>