<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nahif - crear producto</title>
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/migha" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/arial" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header-logo">
            <a href="/">
                <div class="fotoLogo"><img src="/img/LOGO-01.png" alt="logo"></div>
            </a>
        </div>
        <div class="header-top">
            <h1 class="nombreMarca">NAHIF</h1>
        </div>
        <div class="header-menu">
            <i class="fas fa-bars"></i>
            <div class="nav-lateral">
                <a href="/categorias">CATEGORIAS</a>
                <a href="#">PROBADOR</a>
                <a href="/carrito">CARRITO <i class="fas fa-shopping-cart"></i></a>
                <a href="#">CONTACTO</a>
                <a href="/register">REGISTRATE <i class="fas fa-id-card"></i></a>
                <a href="/login">INGRESA <i class="fas fa-user"></i></a>
                <div>
                    <input type="search" name="buscador" placeholder="Buscar">
                    <a class="botonLupa" href="#"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
        <nav class="header-bottom">
            <a href="/categorias">CATEGORIAS</a>
            <a href="#">PROBADOR</a>
            <a href="/carrito">CARRITO <i class="fas fa-shopping-cart"></i></a>
            <a href="#">CONTACTO</a>
            <a href="/register">REGISTRATE <i class="fas fa-id-card"></i></a>
            <a href="/login">INGRESA <i class="fas fa-user"></i></a>
            <div class="botonLupa">
                <input type="search" name="buscador" placeholder="Buscar">
                <a class="botonLupa" href="#"><i class="fas fa-search"></i></a>
            </div>
        </nav>
    </header>
    <main class="mainAltaProd">
        <form action="/" method="get" class="altaProducto">
            <h2>ALTA DE PRODUCTO</h2>
            <div class="formAltaProd">

                <input type="text" name="nombreProdAlta" placeholder="Nombre del producto">
                <textarea name="descProdAlta" id="" cols="30" rows="7">Descripción del producto</textarea>
                <label for="fotoProdAlta">Fotos del producto</label>
                <input type="file" name="fotoProdAlta" id="fotoProdAlta" multiple>

                <div>
                    <label for="categoriaProdAlta">Categoría del producto</label>
                    <select name="categoriaProdAlta" id="categoriaProdAlta">
                        <option value="poleras">Poleras</option>
                        <option value="buzos">Buzos</option>
                        <option value="pantalones">Pantalones</option>
                        <option value="remeras">Remeras</option>
                    </select>
                </div>
                <div class="colProdAlta">
                    <p>Colores disponibles</p>
                    <div>
                        <input type="checkbox" name="coloresProdAlta" value="negro" id="negro">
                        <label for="negro">Negro</label>
                    </div>
                    <div>
                        <input type="checkbox" name="coloresProdAlta" value="blanco" id="blanco">
                        <label for="blanco">Blanco</label>
                    </div>
                    <div>
                        <input type="checkbox" name="coloresProdAlta" value="azul" id="azul">
                        <label for="azul">Azul</label>
                    </div>
                    <div>
                        <input type="checkbox" name="coloresProdAlta" value="rosa" id="rosa">
                        <label for="rosa">Rosa</label>
                    </div>
                    <div>
                        <input type="checkbox" name="coloresProdAlta" value="crema" id="crema">
                        <label for="crema">Crema</label>
                    </div>
                    <div>
                        <input type="checkbox" name="coloresProdAlta" value="verde" id="verde">
                        <label for="verde">Verde</label>
                    </div>
                </div>
                <div class="tallesProdAlta">
                    <p>Talles disponibles</p>
                    <input type="checkbox" name="talleProdAlta" value="talleUnico" id="talleUnico">
                    <label for="talleUnico">Talle único</label>
                    <input type="checkbox" name="talleProdAlta" value="small" id="small">
                    <label for="small">S</label>
                    <input type="checkbox" name="talleProdAlta" value="medium" id="medium">
                    <label for="medium">M</label>
                    <input type="checkbox" name="talleProdAlta" value="large" id="large">
                    <label for="large">L</label>
                </div>
                <div class="cantTalleAltaProd">
                    <p>Cantidades por talle</p>
                    <div>
                        <label for="tU">Talle único</label>
                        <input type="number" name="tU" id="tU" value="0">
                    </div>
                    <div>
                        <label for="tS">S</label>
                        <input type="number" name="tS" id="tS" value="0">
                    </div>
                    <div>
                        <label for="tM">M</label>
                        <input type="number" name="tM" id="tM" value="0">
                    </div>
                    <div>
                        <label for="tL">L</label>
                        <input type="number" name="tL" id="tL" value="0">
                    </div>
                </div>
                <div class="precioProdAlta">
                    <label for="precioProdAlta">Precio: $</label>
                    <input type="number" name="precioProdAlta" id="precioProdAlta" value="0">
                </div>
                <div>
                    <button type="submit" class="ingresar">INGRESAR</button>
                    <button type="reset" class="borrar">BORRAR</button>
                </div>
            </div>
        </form>
    </main>
    <footer>

        <div class="footertop">

            <div class="uno">
                <img class="logonh" class="img-logonh" src="/img/LOGO-01.png" alt="logo-nh">
            </div>
            <div class="dos">

                <ul class="listaizq">
                    <li>
                        <a href="#">CONTACTO</a>
                    </li>
                    <li>
                        <a href="#">ENVIOS</a>
                    </li>
                    <li>
                        <a href="#">NAIF'S CLUB</a>
                    </li>
                </ul>
            </div>
            <div class="tres">
                <ul class="listader">
                    <li>
                        <a href="#">PRODUCTOS</a>
                    </li>
                    <li>
                        <a href="#">CAMBIOS Y DEVOLUCIONES</a>
                    </li>
                    <li>
                        <a href="#">LOCALES</a>
                    </li>
                </ul>
            </div>
            <div class="cuatro">
                <ul class="redes">
                    <li class="facebook">
                        <a href="#"><i class="fab fa-facebook-square"></i></a>

                    </li>
                    <li class="twitter">
                        <a href="#"></a><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="instagram">
                        <a href="#"></a><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>


        </div>


        <div class="footerbottom">

            <div class="footermail">
                <a class="mail" href="mailto:atencionalcliente@nahif.com">atencionalcliente@nahif.com</a>
                <a class="PNF">NAHIF ©COPYRIGHT ®ALL RIGHTS RESERVED</a>

            </div>
            <div class="buscadornh">

                <h6 class="suscribitenh">Suscribite a nuestro newsletter para recibir notificaciones</h6>
                <input class="newsletter" class="text-field" type="text" name="nombreCompleto" placeholder="e-mail">

            </div>
        </div>
    </footer>
</body>

</html>