<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/general.css">
    <link href="https://fonts.cdnfonts.com/css/migha" rel="stylesheet">
    <title>Categorias</title>
</head>
<body>
    <main class="miCategorias">
            <h2>Catalogo Poleras</h2>
            <div class="cata-poleras">
                <Article>
                    <img src = "img/polera-combinada.png" alt="polera-combinada">
                    <p class="precio">Precio: $2.500</p>
                    <p class="descuento">Antes: $2.000</p>
                    <h3 class="desc-prod">Polera Combinada</h3>
                </Article>
                <Article>
                    <img src = "img/polera-Lanilla.png" alt="polera-Lanilla">
                    <p class="precio">Precio: $3.500</p>
                    <p class="descuento">Antes: $2.000</p>
                    <h3 class="desc-prod">Polera Estilo Lanillas</h3>
                </Article>
                <Article>
                    <img src = "img/polera-Trenzas.png" alt="polera-Trenzas">
                    <p class="precio">Precio: $4.500</p>
                    <p class="descuento">Antes: $2.000</p>
                    <h3 class="desc-prod">Polera con Diseño Trenzas</h3>
                </Article>
                <Article>
                    <img src = "img/poleron-Largo2.png" alt="poleron-Largo2">
                    <p class="precio">Precio: $3.500</p>
                    <p class="descuento">Antes: $2.000</p>
                    <h3 class="desc-prod">Poleron Trenzas Black</h3>
                </Article>
                <Article>
                    <img src = "img/polera-c2.png" alt="polera-c2">
                    <p class="precio">Precio: $4.500</p>
                    <p class="descuento">Antes: $2.000</p>
                    <h3 class="desc-prod">Polera Combinada Marron</h3>
                </Article>

            </div>
            <h2>Catalogos Remeras</h2>
            <div>
                <Article>
                    <img src = "img/remera-algodon.png" alt="remera-algodon">
                    <p class="precio">Precio: $4.500</p>
                    <p class="descuento">Antes: $2.000</p>
                    <h3 class="desc-prod">Remera Algodon</h3>
                </Article>
                <Article>
                    <img src = "img/remera-amplia.png" alt="remera-amplia">
                    <p class="precio">Precio: $4.500</p>
                    <p class="descuento">Antes: $2.000</p>
                    <h3 class="desc-prod">Remera Oversize</h3>
                </Article>
                <Article>
                    <img src = "img/remera-corta.png" alt="remera-corta">
                    <p class="precio">Precio: $4.500</p>
                    <p class="descuento">Antes: $2.000</p>
                    <h3 class="desc-prod">Remera Corta</h3>
                </Article>
                <Article>
                    <img src = "img/remera-lanilla.png" alt="remera-lanilla">
                    <p class="precio">Precio: $4.500</p>
                    <p class="descuento">Antes: $2.000</p>
                    <h3 class="desc-prod">Remera Lanilla</h3>
                </Article>
                <Article>
                    <img src = "img/remera-manga-larga.png" alt="remera-manga-larga">
                    <p class="precio">Precio: $4.500</p>
                    <p class="descuento">Antes: $2.000</p>
                    <h3 class="desc-prod">Remera Manga Larga</h3>
                </Article>

            </div>
    </main>
</body>
</html>