<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/general.css">
    <link href="https://fonts.cdnfonts.com/css/migha" rel="stylesheet">
    <title>Categorias</title>
</head>
<body>
    <header>
        <header>
            <div class="header-logo">
                <a href="/">
                    <div class="fotoLogo"><img src="/img/LOGO-01.png" alt="logo"></div>
                </a>
             </div>
            <div class="header-top">
                <h1 class="nombreMarca">NAHIF</h1>
            </div>
            <div class="header-menu">
                <i class="fas fa-bars"></i>
                <div class="nav-lateral">
                    <a href="/categorias">CATEGORIAS</a>
                    <a href="#">PROBADOR</a>
                    <a href="/carrito">CARRITO <i class="fas fa-shopping-cart"></i></a>
                    <a href="#">CONTACTO</a>
                    <a href="/register">REGISTRATE <i class="fas fa-id-card"></i></a>
                    <a href="/login">INGRESA <i class="fas fa-user"></i></a>
                    <div>
                        <input type="search" name="buscador" placeholder="Buscar">
                        <a class="botonLupa" href="#"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>
            <nav class="header-bottom">
                <a href="/categorias">CATEGORIAS</a>
                <a href="#">PROBADOR</a>
                <a href="/carrito">CARRITO <i class="fas fa-shopping-cart"></i></a>
                <a href="#">CONTACTO</a>
                <a href="/register">REGISTRATE <i class="fas fa-id-card"></i></a>
                <a href="/login">INGRESA <i class="fas fa-user"></i></a>
                <div class="botonLupa">
                    <input type="search" name="buscador" placeholder="Buscar">
                    <a class="botonLupa" href="#"><i class="fas fa-search"></i></a>
                </div>
            </nav>
    </header>
    <main class="miCategorias">
        <h2>Productos Disponibles</h2>
            <div class="miCatergoria2">
                
           
                <div class="lista-categoria">
                    <a href="#" class="items-categoria">Buzos</a>
                    <a href="#" class="items-categoria">Camperas</a>
                    <a href="#" class="items-categoria">Remeras</a>
                    <a href="#" class="items-categoria">Panatlones</a>
                    <a href="#" class="items-categoria">Shorts</a>
                    <a href="#" class="items-categoria">Calzas</a>
                    <a href="#" class="items-categoria">otros</a>
                </div>
                <section class="lista-productos">
                    <Article>
                        <img src = "img/polera-combinada.png" alt="polera-combinada">
                        <h3 class="desc-prod">Polera Combinada</h3>
                        <p class="precio">Precio: $2.500</p>
                        <p class="descuento">Antes: $2.000</p>
                        
                    </Article>
                    <Article>
                        <img src = "img/polera-Lanilla.png" alt="polera-Lanilla">
                        <h3 class="desc-prod">Polera Estilo Lanillas</h3>
                        <p class="precio">Precio: $3.500</p>
                        <p class="descuento">Antes: $2.000</p>
                        
                    </Article>
                    <Article>
                        <img src = "img/polera-Trenzas.png" alt="polera-Trenzas">
                        <h3 class="desc-prod">Polera con Diseño Trenzas</h3>
                        <p class="precio">Precio: $4.500</p>
                        <p class="descuento">Antes: $2.000</p>
                       
                    </Article>
                    <Article>
                        <img src = "img/poleron-Largo2.png" alt="poleron-Largo2">
                        <h3 class="desc-prod">Poleron Trenzas Black</h3>
                        <p class="precio">Precio: $3.500</p>
                        <p class="descuento">Antes: $2.000</p>
                        
                    </Article>
                    <Article>
                        <img src = "img/polera-c2.png" alt="polera-c2">
                        <h3 class="desc-prod">Polera Combinada Marron</h3>
                        <p class="precio">Precio: $4.500</p>
                        <p class="descuento">Antes: $2.000</p>
                        
                    </Article>
                    <Article>
                        <img src = "img/remera-algodon.png" alt="remera-algodon">
                        <h3 class="desc-prod">Remera Algodon</h3>
                        <p class="precio">Precio: $4.500</p>
                        <p class="descuento">Antes: $2.000</p>
                        
                    </Article>
                    <Article>
                        <img src = "img/remera-amplia.png" alt="remera-amplia">
                        <h3 class="desc-prod">Remera Oversize</h3>
                        <p class="precio">Precio: $4.500</p>
                        <p class="descuento">Antes: $2.000</p>
                        
                    </Article>
                    <Article>
                        <img src = "img/remera-corta.png" alt="remera-corta">
                        <h3 class="desc-prod">Remera Corta</h3>
                        <p class="precio">Precio: $4.500</p>
                        <p class="descuento">Antes: $2.000</p>
                        
                    </Article>
                    <Article>
                        <img src = "img/remera-lanilla.png" alt="remera-lanilla">
                        <h3 class="desc-prod">Remera Lanilla</h3>
                        <p class="precio">Precio: $4.500</p>
                        <p class="descuento">Antes: $2.000</p>
                        
                    </Article>
                    <Article>
                        <img src = "img/remera-manga-larga.png" alt="remera-manga-larga">
                        <h3 class="desc-prod">Remera Manga Larga</h3>
                        <p class="precio">Precio: $4.500</p>
                        <p class="descuento">Antes: $2.000</p>
                      
                    </Article>
                </section>
            </div>
    </main>
    <footer>

        <div class="footertop">

            <div class="uno">        
                <img class="logonh" class="img-logonh" src="/img/LOGO-01.png" alt="logo-nh">    
            </div>
            <div class="dos">

                <ul class="listaizq">
                    <li>
                        <a href="#">CONTACTO</a>
                    </li>
                    <li>
                        <a href="#">ENVIOS</a>
                    </li>
                    <li>
                        <a href="#">NAIF'S CLUB</a>
                    </li>
                </ul>
            </div>
            <div class="tres">
                <ul class="listader">
                    <li>
                        <a href="#">PRODUCTOS</a>
                    </li>
                    <li>
                        <a href="#">CAMBIOS Y DEVOLUCIONES</a>
                    </li>
                    <li>
                        <a href="#">LOCALES</a>
                    </li>
                </ul>
            </div>
            
            <div class="cuatro">
                <ul class="redes">
                    <li class="facebook">
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        
                    </li>
                    <li class="twitter">   
                        <a href="#"></a><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="instagram">
                        <a href="#"></a><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>


        </div>


    <div class="footerbottom">

        <div class="footermail">
            <a class="mail" href="mailto:atencionalcliente@nahif.com">atencionalcliente@nahif.com</a>   
            <a class="PNF">NAHIF ©COPYRIGHT ®ALL RIGHTS RESERVED</a>
                
        </div>
        <div class="buscadornh">

            <h6 class="suscribitenh">Suscribite a nuestro newsletter para recibir notificaciones</h6>
            <input class="newsletter" class="text-field" type="text" name="nombreCompleto" placeholder="e-mail">
               
        </div>
    </div>
    

    </footer>
</body>
</html>