<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: "Contacto"})%>

<body class="contactoBody">
    
    <%- include('./partials/header') %>
    
    <main class="main-contacto">
        <div class="contenedorContacto">
            <div class="contacto">
                <h1 class="contactoLegend">CONTACTATE CON NOSOTROS!</h1>
                <h2>A través de nuestras redes sociales</h2>
                <h4><i class="fa-brands fa-square-instagram" style="color: #000000;"></i> Instagram @Nahif</h4>
                <h4><i class="fa-brands fa-square-twitter" style="color: #030507;"></i> Twitter @Nahif</h4>
                <h4><i class="fa-brands fa-square-facebook" style="color: #000000;"></i> Facebook @Nahif</h4>
               
                <h2>A través de nuestras líneas de Whatsapp</h2>
                <h4> <i class="fa-brands fa-square-whatsapp" style="color: #000000;"></i> 2235-381122 // 2235-661897</h4>
                <h2>A través de correo electrónico </i></h2>
                <h4><i class="fa-solid fa-square-envelope" style="color: #000000;"></i> </i>info@nahif.com.ar</h4>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>