<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: "Contacto"})%>

<body class="loginBody">
    
    <%- include('./partials/header') %>
    
    <main class="main-login">
        <form action="/user/contacto" method="get" class="login">
            <h2>CONTACTATE CON NOSOTROS!</h2>
            <h2>A través de nuestras redes sociales</h2>
            <h4>Instagram @Nahif</h4>
            <h4>Twitter @Nahif</h4>
            <h4>Facebook @Nahif</h4>
            <h2>A través de nuestras líneas de Whatsapp</h2>
            <h4>2235-381122 // 2235-661897</h4>
            <h2>A través de correo electrónico</h2>
            <h4>info@nahif.com.ar</h4>
        </form>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>