<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: "Nahif"})%>


<body>
    <%- include ('./partials/header') %>
    <main class="home">

        <div class="home-content">
            <img class="logo" src="/img/Nahif.Png" alt="logo-nahif">
            <a href="/categorias"><button type="button">EXPLORA YA!</button></a>
        </div>
        <div class="col">

            <div class="card card2">
                <a href="/categorias">
                    <img class="Poleras" src="/img/poleras.png" alt="Poleras">
                    <div class="home-titulo">
                        <h3 class="textOfertas">POLERAS</h3>
                    </div>
                </a>
            </div>

            <div class="card card1">
                <a href="/categorias">
                <img class="buzos" src="/img/buzos.jpg" alt="Buzos">
                <div class="home-titulo">
                    <h3 class="textOfertas">BUZOS</h3>
                </div>
                </a>
            </div>
        </div>
    </main>
    <%- include ('./partials/footer') %>
</body>

</html>