<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/arial" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>

    </header>
    
    <main>
        <h2>
           ACCEDE A TU CUENTA 
        </h2>
        <section class="login">
            <section>
                <p class="datos">E-mail</p>
                <p class="datos">Contraseña</p>
                <div class="boton">
                    Iniciar
                </div>
                <p class="texto">¿Olvidaste tu contraseña?</p>
                <div class="boton">
                    Continuar con Google
                </div>
                <p class="texto">Si no tenés cuenta</p>
                <div class="boton">
                    Registrate
                </div>

            </section>
        </section>
    </main>
    
    <footer>

    </footer>
</body>
</html>