<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/arial" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/general.css">
</head>

<body class="loginBody">
    <header>
        <div class="header-logo">
            <a href="/">
                <div class="fotoLogo"><img src="/img/LOGO-01.png" alt="logo"></div>
            </a>
         </div>
        <div class="header-top">
            <h1 class="nombreMarca">NAHIF</h1>
        </div>
        <div class="header-menu">
            <i class="fas fa-bars"></i>
            <div class="nav-lateral">
                <a href="/categorias">CATEGORIAS</a>
                <a href="#">PROBADOR</a>
                <a href="/carrito">CARRITO <i class="fas fa-shopping-cart"></i></a>
                <a href="#">CONTACTO</a>
                <a href="/register">REGISTRATE <i class="fas fa-id-card"></i></a>
                <a href="/login">INGRESA <i class="fas fa-user"></i></a>
                <div>
                    <input type="search" name="buscador" placeholder="Buscar">
                    <a class="botonLupa" href="#"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
        <nav class="header-bottom">
            <a href="/categorias">CATEGORIAS</a>
            <a href="#">PROBADOR</a>
            <a href="/carrito">CARRITO <i class="fas fa-shopping-cart"></i></a>
            <a href="#">CONTACTO</a>
            <a href="/register">REGISTRATE <i class="fas fa-id-card"></i></a>
            <a href="/login">INGRESA <i class="fas fa-user"></i></a>
            <div class="botonLupa">
                <input type="search" name="buscador" placeholder="Buscar">
                <a class="botonLupa" href="#"><i class="fas fa-search"></i></a>
            </div>
        </nav>
    </header>

    <main class="main-login">
        <form action="/" method="GET" class="login">
            <h2>ACCEDE A TU CUENTA</h2> <input type="email" name="email" placeholder="E-mail">
            <input type="password" name="password" placeholder="Contraseña">
            <button type="submit" class="ingresar">INGRESAR</button>
            <a href="#" class="olvidaste">¿Olvidaste tu contraseña?</a>
            <p class="cuenta">Si no tenés cuenta</p>
            <a href="/register" class="registro">Registrate</a>
        </form>
    </main>

    <footer>

    </footer>
</body>

</html>