<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/arial" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/general.css">
</head>

<body class="loginBody">
    
    <%- include('./partials/header') %>
    
    <main class="main-login">
        <form action="/" method="GET" class="login">
            <h2>ACCEDE A TU CUENTA</h2>
            <input type="email" name="loginEmail" placeholder="E-mail">
            <input type="password" name="loginPassword" placeholder="Contraseña">
            <button type="submit" class="ingresar">INGRESAR</button>
            <a href="#" class="olvidaste">¿Olvidaste tu contraseña?</a>
            <p class="cuenta">Si no tenés cuenta</p>
            <a href="/register" class="registro">Registrate</a>
        </form>
    </main>

    <footer>

        <div class="footertop">

            <div class="uno">        
                <img class="logonh" class="img-logonh" src="/img/LOGO-01.png" alt="logo-nh">    
            </div>
            <div class="dos">

                <ul class="listaizq">
                    <li>
                        <a href="#">CONTACTO</a>
                    </li>
                    <li>
                        <a href="#">ENVIOS</a>
                    </li>
                    <li>
                        <a href="#">NAIF'S CLUB</a>
                    </li>
                </ul>
            </div>
            <div class="tres">
                <ul class="listader">
                    <li>
                        <a href="#">PRODUCTOS</a>
                    </li>
                    <li>
                        <a href="#">CAMBIOS Y DEVOLUCIONES</a>
                    </li>
                    <li>
                        <a href="#">LOCALES</a>
                    </li>
                </ul>
            </div>
            <div class="cuatro">
                <ul class="redes">
                    <li class="facebook">
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        
                    </li>
                    <li class="twitter">   
                        <a href="#"></a><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="instagram">
                        <a href="#"></a><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>


        </div>


    <div class="footerbottom">

        <div class="footermail">
            <a class="mail" href="mailto:atencionalcliente@nahif.com">atencionalcliente@nahif.com</a>   
            <a class="PNF">NAHIF ©COPYRIGHT ®ALL RIGHTS RESERVED</a>
                
        </div>
        <div class="buscadornh">

            <h6 class="suscribitenh">Suscribite a nuestro newsletter para recibir notificaciones</h6>
            <input class="newsletter" class="text-field" type="text" name="nombreCompleto" placeholder="e-mail">
               
        </div>
    </div>
    

    </footer>
</body>

</html>