<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/migha" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/arial" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header-logo">
            <a href="/">
                <div class="fotoLogo"><img src="/img/LOGO-01.png" alt="logo"></div>
            </a>
         </div>
        <div class="header-top">
            <h1 class="nombreMarca">NAHIF</h1>
        </div>
        <div class="header-menu">
            <i class="fas fa-bars"></i>
            <div class="nav-lateral">
                <a href="/categorias">CATEGORIAS</a>
                <a href="#">PROBADOR</a>
                <a href="/carrito">CARRITO <i class="fas fa-shopping-cart"></i></a>
                <a href="#">CONTACTO</a>
                <a href="/register">REGISTRATE <i class="fas fa-id-card"></i></a>
                <a href="/login">INGRESA <i class="fas fa-user"></i></a>
                <div>
                    <input type="search" name="buscador" placeholder="Buscar">
                    <a class="botonLupa" href="#"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
        <nav class="header-bottom">
            <a href="/categorias">CATEGORIAS</a>
            <a href="#">PROBADOR</a>
            <a href="/carrito">CARRITO <i class="fas fa-shopping-cart"></i></a>
            <a href="#">CONTACTO</a>
            <a href="/register">REGISTRATE <i class="fas fa-id-card"></i></a>
            <a href="/login">INGRESA <i class="fas fa-user"></i></a>
            <div class="botonLupa">
                <input type="search" name="buscador" placeholder="Buscar">
                <a class="botonLupa" href="#"><i class="fas fa-search"></i></a>
            </div>
        </nav>
    </header>
    <main class="mainCarrito">
        <h1>Mi carrito</h1>
        <div class="contenedorCarrito">
            <div class="productosCarrito">
                <div class="prodCarrito">
                    <div class="divFotoCarrito">
                        <img src="/img/buzo_blend.jpg" alt="buzoBlend">
                    </div>
                    <div class="detalleProdCarrito">
                        <h4>Buzo Blend</h4>
                        <p>$7.200</p>
                        <div>
                            <p>Talle: M</p>
                            <p>Color: Negro</p>
                        </div>
                        <div>
                            <select name="cantidadCarrito" id="cantidadCarrito">
                                <option value="1" selected>Cantidad: 1</option>
                                <option value="2">Cantidad: 2</option>
                                <option value="3">Cantidad: 3</option>
                            </select>
                            <a href="#">Eliminar</a>
                        </div>
                    </div>
                </div>
                <div class="prodCarrito">
                    <div class="divFotoCarrito">
                        <img src="/img/crop_top.jpg" alt="cropTop">
                    </div>
                    <div class="detalleProdCarrito">
                        <h4>Crop Top</h4>
                        <p>$3.000</p>
                        <div>
                            <p>Talle: S</p>
                            <p>Color: Negro</p>
                        </div>
                        <div>
                            <select name="cantidadCarrito" id="cantidadCarrito">
                                <option value="1" selected>Cantidad: 1</option>
                                <option value="2">Cantidad: 2</option>
                                <option value="3">Cantidad: 3</option>
                            </select>
                            <a href="#">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resumenCarrito">
                <h3>Resumen del pedido</h3>
                <div class="detalleCarrito">
                    <div class="preciosCarrito">
                        <h4>Buzo Blend</h4>
                        <p class="preciosResumenCarrito">Precio</p>
                        <p class="pesosResumenCarritos">$7.200</p>
                    </div>
                    <div class="preciosCarrito">
                        <h4>Crop Top</h4>
                        <p class="preciosResumenCarrito">Precio</p>
                        <p class="pesosResumenCarritos">$3.000</p>
                    </div>
                    <div class="total">
                        <h4>Total</h4>
                        <p>$10.200</p>
                    </div>
                </div>
                <div class="botonesCarrito">
                    <form action="#" method="get">
                        <button class="botonPagar" type="submit">Ir a pagar</button>
                    </form>
                    <form action="/" method="get">
                        <button class="botonSeguir" type="submit">Seguir comprando</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>

        <div class="footertop">

            <div class="uno">        
                <img class="logonh" class="img-logonh" src="/img/LOGO-01.png" alt="logo-nh">    
            </div>
            <div class="dos">

                <ul class="listaizq">
                    <li>
                        <a href="#">CONTACTO</a>
                    </li>
                    <li>
                        <a href="#">ENVIOS</a>
                    </li>
                    <li>
                        <a href="#">NAIF'S CLUB</a>
                    </li>
                </ul>
            </div>
            <div class="tres">
                <ul class="listader">
                    <li>
                        <a href="#">PRODUCTOS</a>
                    </li>
                    <li>
                        <a href="#">CAMBIOS Y DEVOLUCIONES</a>
                    </li>
                    <li>
                        <a href="#">LOCALES</a>
                    </li>
                </ul>
            </div>
            <div class="cuatro">
                <ul class="redes">
                    <li class="facebook">
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        
                    </li>
                    <li class="twitter">   
                        <a href="#"></a><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="instagram">
                        <a href="#"></a><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>


        </div>


    <div class="footerbottom">

        <div class="footermail">
            <a class="mail" href="mailto:atencionalcliente@nahif.com">atencionalcliente@nahif.com</a>   
            <a class="PNF">NAHIF ©COPYRIGHT ®ALL RIGHTS RESERVED</a>
                
        </div>
        <div class="buscadornh">

            <h6 class="suscribitenh">Suscribite a nuestro newsletter para recibir notificaciones</h6>
            <input class="newsletter" class="text-field" type="text" name="nombreCompleto" placeholder="e-mail">
               
        </div>
    </div>
    

    </footer>
</body>

</html>