<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/general.css">
</head>
<body>
    <header>

    </header>
    <main>
        <h2>Mi carrito</h2>
        <div>
            <img src="" alt="">
            <h4>Nombre del producto</h4>
            <p>Talle: M</p>
            <p>Cantidad: 1</p>
            <p>$7.200</p>
        </div>
        <div>
            <img src="" alt="">
            <h4>Nombre del producto</h4>
            <p>Talle: S</p>
            <p>Cantidad: 1</p>
            <p>$3.000</p>
        </div>
        <div>
            <h3>Resumen del pedido</h3>
            <div>
                <div>
                    <p>Producto 1</p>
                    <p>Precio</p>
                    <p>$5.700</p>
                </div>
                <div>
                    <p>Producto 1</p>
                    <p>Precio</p>
                    <p>$4.500</p>
                </div>
                <div>
                    <p>Total</p>
                    <p>$10.200</p>
                </div>
            </div>
            <form action="/" method="get">
                <button type="submit">Ir a pagar</button>
            </form>
            <form action="/" method="get">
                <button type="submit">Seguir comprando</button>
            </form>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>