<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/arial" rel="stylesheet">
    <link rel="stylesheet" href="/css/general.css">
</head>

<body>
    <header>

    </header>

    <main id="formulario-registro">

        <form action="/" method="get">

            <div >
                <label for="nombreCompleto">Nombre Completo</label>
                <input type="text" name="nombreCompleto" id="nombreCompleto">
            </div>

            <div >   
                <label for="email">Email</label> 
                <input type="text" name="usuario" id="email">
            </div>

            <div>
                <label for="Contraseña">Contraseña</label> 
                <input type="password" name="contrasenia" id="Contraseña">
            </div>

            <div>
                <label for="confirmarContraseña">Confirmar Contraseña</label> 
                <input type="password" name="confirmarContrasenia" id="confirmarContraseña">
            </div>

        <div class="register-noRobot">

                <div class="register-robot">   
                    <input type="checkbox" name="noSoyUnRobot" id="noSoyUnRobot">
                    <label for="noSoyUnRobot">No soy un robot</label>
                </div>  

                <div class="register-captcha"> 
                    <input type="image" src="/public/img/RecaptchaLogo.svg.png" alt="captcha">
                    <input type="text" name="privacidadCondiciones" value="Privacidad-Condiciones">
                </div>

            </div>

            <div>
                <button type="submit">CREAR CUENTA</button>
            </div>

            <div>
                <input type="text" name="iniciaSesion" value="¿Ya tenés una cuenta?">
                <a href="#">Iniciá Sesión</a>
            </div>

        </form>
    </main>

    <footer>

    </footer>
</body>

</html>