.miCategorias{
    background-color: #EAF4F4;
    font-family: 'Roboto', sans-serif;
}

.miCategorias h2{
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
    margin-top: 0%;
    font-family: MIGHA;
    font-size: 35px;
}

.miCategoria2{
    display: flex;
}
    
.lista-categoria{
    display: none;
    flex-direction: column;
    width: 15%;
    margin-left: 10px;
    
}

.lista-categoria .items-categoria{
    display: block;
    width: 70%;
    padding: 15px 0px;
    margin-bottom: 20px;
    background-color: #6b9080;
    font-family: migha;
    text-align: center;
    border-radius: 2px;
    text-decoration: none;
    color: black;
}

/* PRODUCTOS====== */

.lista-productos{
    display:flex;
    flex-wrap: wrap;
    width: 78%;
}
.miCategorias article{
    background-color: #6b9080;
     width: 45%;
     margin-left: 5%;
     margin-bottom: 5%;
     box-shadow : 0px 0px 10px #666
     
 }



.miCategorias article img{
    width: 100%;
}
.miCategorias article h3{
    text-align: center;
    margin: 0;
    
}
.miCategorias .desc-prod{
    padding: 5px;
}
.miCategorias article p{
    display: block;
    width: 100%;
    padding: 2px;
    margin-bottom: 0px;
    margin-top: 10px;

    text-align: left;
    text-decoration: none;
    margin-left: 5px;

}
.miCategorias .descuento{
    text-decoration: line-through;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media(min-width:361px){
    

}

    


@media(min-width:780px){
    .lista-categoria{
        display: flex;
    }
    
    .miCategorias article{
        background-color: #6b9080;
         width: 20%;
         margin-left: 5%;
         margin-bottom: 5%;
         box-shadow : 0px 0px 10px #666
         
     }

    
}
   