.mensajeError {
    color: rgb(101, 19, 19);
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: roboto;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
#errores li{
    color: rgb(101, 19, 19);
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: roboto;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}