footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #96b499;
    height: 150px;
    width: 100%;
    
}

.footertop{
    display: flex;
    padding: 5px;
    width: 100%;
    padding-top: 10px;
    height: 60%;
}

.footerbottom {
    display: flex;

    width: 100%;
    justify-content: space-around;
    
    height: 40%;
}

.logonh{
    width: 100%;
    height: 70%;
    margin-left: 80px;

}   

.footerbottom .footermail {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 20px;
}

.buscadornh{
    width: 75% ;
    padding-left: 101px;
}


footer .buscadornh .input {
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;  
    border-radius: 5px;     
}

.newsletter{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;  
    border-radius: 5px;
    height: 25px; 
    width: 63%;
                               
    
}

.uno{
    width: 10%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
    
}
.dos{
    width: 42.5%;
    padding: 5px;
    display: flex;
    justify-content: center;
    text-justify: left;

}

.tres{
    width: 42.5%;
    padding: 5px;
    display: flex;
    justify-content: center;
    text-justify: left;
}

.cuatro{
    width: 5%;
    padding: 5px;
    
    display: flex;
    
}

.redes{
    list-style-type: none;
    color: #666;
    margin-block: none;
}

.iconosderecha {
    margin: 5px;
    list-style-type: none;
    color: #666;
}

.twitter{
    margin-bottom: 10px;
}

.facebook{
    margin-bottom: 10px;
}

.dos .listaizq a{
    font-size: 16px; 

}

.tres .listader a{
    font-size: 16px;
}

.listaizq{
    list-style-type: none;
    color: #666;  
    margin: none;
    margin-block: none;
}

.listader{
    list-style-type: none;
    color: #666;   
    margin-block: none;
}

.PNF{
    font-size: 8px;
}

.mail{
    font-size: 14px;
    color: #666;
}

.mail:hover{
    color: #39b54a;
    transition: 1s;
}

