.mainModProd{
    background-color: #EAF4F4;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    text-align: center;
    align-items: center;
    gap:40px;
    transition: all 400ms;

}
.mainModProd h2 {
    text-align: center;
    font-family: migha;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    color: #666;
    transition: all 350ms;
    margin-bottom: 0px;
    margin-top: 0;
}
.mensajeError {
    color: rgb(101, 19, 19);
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: roboto;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
.modProducto {
    background-color: #a4c3b2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    width: 60%;
    padding: 15px 0;
    margin-bottom: 30px;
    border-radius: 5%;
    font-size: 80%;
    box-shadow: 3px 3px 5px 1px #2a2e2c;
    margin-right: 0;
    transition: all 350ms;
}
.divFotos{
    margin-right: 0;
    width: 80%;
}
.descModif{
    width: 70%;
}
.eliminarFotos{
    background-color: #a4c3b2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-top: 15px;
    padding: 15px 0;
    margin-bottom: 30px;
    border-radius: 5%;
    font-size: 80%;
    box-shadow: 3px 3px 5px 1px #2a2e2c;
    margin-right: 0;
    transition: all 350ms;
}

.listaFotosMod{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}
.listaFotosMod label{
    width: 100%;
}

.fotoMod {
    width: 40%;
}
.fotoProdMod {
    font-size: 18px;
    font-weight: bold;
    color: #666;
    font-family: migha;
}
.check{
    display: flex;
    justify-content: center;
    gap:10px;
}
.checkPpal{
    border-bottom: #666 solid 2px;
}
.fotoPpal{
    margin-bottom: 10px;
}

.modProd button, .borrar {
    background-color: #6B9080;
    font-family: migha;
    margin: 0px 5px;
    border-radius: 10%;
    color: #EAF4F4;
    height: fit-content;
}

.modProd button:hover, .borrar:hover {
    background-color: #557567;
    box-shadow: 1px 1px 5px 1px #2a2e2c;
}
.botonesModif{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.botonModifProd{
    text-decoration: none;
}
.formModifProd{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divFotos, .descModif{
    width: 80%;
}
.formModifProd button, .formModifProd a {
    background-color: #6B9080;
    font-family: migha;
    margin: 0px 5px;
    border-radius: 10%;
    color: #EAF4F4;
    height: fit-content;
}
.formModifProd a {
    border-bottom: #2a2e2c solid 1px;
    border-right:#2a2e2c solid 1px;
}

@media (min-width: 769px) {
    .mainModProd{
        flex-direction: row;
        align-items: stretch;
    }
    .modProducto{
        width: 55%;
    }
    .eliminarFotos{
        width: 30%;
    }
    .listaFotosMod{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .checkOtras{
        width: 45%;
    }
}