.mainCarrito {
    background-color: #EAF4F4;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 12px;
}

.mainCarrito h1 {
    font-weight: 700;
    margin: 10px;
    padding: 15px;
}

.mainCarrito h3 {
    font-weight: 600;
}

.contenedorCarrito {
    display: flex;
    justify-content: space-around;
}

.productosCarrito {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    justify-content: space-around;
    text-align: center;
}

.productosCarrito div.prodCarrito {
    background-color: #A4C3B2;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.productosCarrito div.prodCarrito div.divFotoCarrito {
    width: 50%;
}

.divFotoCarrito img{
    width: 90%;
}

.productosCarrito div.prodCarrito div.detalleProdCarrito a {
    width: fit-content;
    text-decoration: none;
    color: black;
    width: 45%;
}

.detalleProdCarrito {
    width: 100%;
}

.detalleProdCarrito div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
}

.detalleProdCarrito div p {
    width: 45%;
    margin: 0;
}

.resumenCarrito {
    width: 45%;
    margin: 5px;
    align-items: center;
    padding: 3px;
    align-self: flex-start;
}

.resumenCarrito h3 {
    font-size: 20px;
    margin: 0px 10px 10px 10px;
}

.detalleCarrito {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #A4C3B2;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5px;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 5%;
}

.preciosCarrito{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.preciosResumenCarrito {
    width: 48%;
}

.pesosResumenCarrito {
    width: 48%;
}

.preciosCarrito h4 {
    width: 100%;
}

.total {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px black solid;
    align-items: center;
}

.total h4 {
    width: 45%;
}

.total p {
    width: 45%;
    justify-self: flex-end;
    text-align: right;
}

.botonesCarrito {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.botonPagar, .botonSeguir {
    background-color: #6B9080;
    text-align: center;
    width: fit-content;
    border-radius: 5%;
}

@media (min-width: 769px) {
    .productosCarrito div.prodCarrito {
        flex-direction: row;
        justify-content: space-around;
    }
}