

.form-registro { 
    margin-left: 14px;
    background-color: #a4c3b2;
    border: #6b6d6c 1px;
    border-radius: 5%;;
    box-shadow: 3px 3px 5px 1px #2a2e2c;
}

.subtitulo-crear-cuenta {
    text-align: center;
    font-family: migha;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
    padding-bottom: 5px;
}

.email-registro {
    padding-top: 10px;
}

.contraseña-registro {
    padding-top: 10px;
}

.conf-contra-registro {
    padding-top: 10px;
}

.label-registro {
    font-family: Roboto;
    text-align: left;
    width: 100%;
    margin-left: 3px;
}

.input-registro {
    background-color: #FFF;   
    font-size: 14px;
    width: 97%;
    justify-content: space-around;
    border:none;
    margin-left: 3px;
    margin-right: 7px;
    padding-top: 7px;
    padding-bottom: 5px;
}

.registro-noRobot {
    display: flex;
    background-color: #afcfbe;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
    padding-right: 0;
    text-align: center;
    align-items: center;
    font-family: Roboto;
    border-radius: 5%;
}

.registro-robot {
    width: 50%;
}

.registro-label-noRobot {
    font-size: 14px;
}

.registro-input-checkbox {
    background-color: #cce3de;
    width: 15%;
    margin: 0;
}

.registro-div-boton {
    text-align: center;
    background-color: #a4c3b2;
}

.registro-captcha {
    width: 45%;
    
}

.registro-reCaptcha {
    width: 55%;
}

.privacidad-condiciones {
    font-size: 11px;
}


.registro-boton-crearCuenta {
    background-color: #6B9080;
    color: #FFF;
    font-family: migha;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5%;
}

.registro-boton-crearCuenta:hover {
    text-shadow: 1px 1px 1px #2a2e2c;
    background-color: #2a7474;
    transition: all 0.3s;
}

.registro-div-iniciaSesion {
    text-align: center;
    font-family: Roboto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.registro-yaTenesUnaCuenta {
    width: 48%;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 23px;
}


.registro-link-iniciaSesion {
    font-weight: bold;
    color: #666;
    width: 42%;
    font-size: 14px;
    padding-right: 10px;
}

.registro-link-iniciaSesion:hover {
    text-shadow: 1px 1px 1px #2a2e2c;
}

.registro-link-iniciaSesion {
    margin-top: 5px;
    padding-right: 20px;
}

 
@media (min-width: 361px) {

.registro-yaTenesUnaCuenta {
    margin-bottom: 18px;
}

.registro-div-iniciaSesion {
    margin-left: 205px;
    margin-right: 210px;
}

} 

@media (min-width: 769px) {
    
    #main-registro {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EAF4F4;
    }
    
    form {
        max-width: 850px;
    }

    .registro-label-noRobot {
        font-size: 22px;
    }

    .label-registro {
        margin-left: 10px;
    }

    .input-registro {
        font-size: 20px;
        font-weight: normal;
        margin-left: 10px;
    }

   .label-registro {
        font-size: 20px;
   }

   .subtitulo-crear-cuenta {
        font-size: 30px;
   }

   .registro-boton-crearCuenta {
        font-size: 22px;
   }

   .registro-div-iniciaSesion {
        margin-left: 220px;
        margin-right: 225px;
   }

   .registro-yaTenesUnaCuenta {
        font-size: 18px;
   }

   .registro-link-iniciaSesion {
        font-size: 19px;
        margin-top: 10px;
   }

   .privacidad-condiciones {
        font-size: 16px;
        margin-top: 0;
   }
  
}